# Object files
*.o
*.ko
*.obj
*.elf
*.a43

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.axf

# Dump files
*.lst

# Dependencies
*.d

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Folders
PDFs/
Driverlib/
